



<div class="col-md-12">
  <div class="card ">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">mail_outline</i>
      </div>
      <h4 class="card-title">+Info</h4>
    </div>
    <div class="card-body ">
      <% if @product_article != nil %>
      <div class="card ">       
        <%= @product_article.title %>          
        </div>
        <%= @product_article.content.html_safe %>
        <%end%>
      </div>  
    </div>
  </div> 
</div>




		










