    <div class="col-md-12" style="margin-left: 0px; text-align: center">
      <div href="#pablo" >
        <img  style="width: 100%" src="/assets/abdominoplastia/abdominoplastia">
        </div></br>

      <div href="#pablo" >
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-2018-preco">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-2019-preco">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-antes-depois-valor">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-antes-e-depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-como-funciona">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-preco">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-r$">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-valor">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/antes-depois-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/antes-depois-abdominoplastia-hopistal">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/antes-depois-preco-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/antes-e-depois-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/cirurgia-abdominoplastia">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/cirurgia-plastica-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/cirurgia-plastica-reducao-medidas-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/cirurgiao-plastico-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/como-funciona-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/o-que-eÌ-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/preco-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/preco-abdominoplastia-antes-depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/valor-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/R$-abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/cirurgia-abdominoplastia">
      </div></br>

      



    </div>
