    <div class="col-md-12" style="margin-left: 0px; text-align: center">
      <div href="#pablo" >
        <img  style="width: 100%" src="/assets/lipoaspiracao/valor-lipo" alt="antes e depois lipoaspiracao">
        </div></br>

      <div href="#pablo" >
        <img style="width: 100%" src="/assets/lipoaspiracao/quanto-custa-cirurgia-lipoaspiracao" alt="lipoaspiracao">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/qual-valor-lipoaspiracao" alt="antes e depois lipoaspiracao">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/qual-preco-lipoaspiracao" alt="imagens antes e depois lipoaspiracao">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/preco-lipoaspiracao-antes-depois" alt="resultados antes e depois lipoaspiracao">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/preco-lipo" alt="lipo antes e depois">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/preco-antes-depois-lipoaspiracao" alt="antes e depois lipo" alt="fotos antes e depois lipo">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipoaspiracao-quanto-custa" alt="antes e depois quanto custa uma lipo" >
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipoaspiracao-preco-antes-depois" alt="fotos mulheres que fizeram lipo ou lipoaspiração">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipoaspiracao-antes-depois-preco" alt="fotos de pessoas que fizeram lipoaspiracao antes e depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipoaspiracao-antes-depois" alt="antes e depois mulheres com lipo">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipoaspiracao" alt="mulheres com lipoaspiração antes e depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipo-preco-2018" alt="antes e depois famosas com lipoaspiracao">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipo-antes-depois-preco" alt="lipo antes e depois em mulheres">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/como-funciona-lipoaspiracao" alt="imagens resultados lipo antes e depois">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/cirurgia-plastico-lipo" alt="antes e depois cirurgia plastica lipo">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/cirurgia-plastica-preco-lipo" alt="antes e depois e resultados da cirurgia plastica de lipoaspiracao">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/cirurgia-lipoaspiracao" alt="lipoaspiracao antes e depois fotos de cirurgioes plasticos">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/cirurgia-lipo-valor" alt="cirurgiao plastico lipoaspiracao antes e depois">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/cirurgia-lipo-preco" alt="lipo antes e depois resultados lipoaspiracao">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/antes-depois-preco-lipoaspiracao" alt="plastica lipoaspiracao antes e depois">
      </div></br>
      
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/antes-depois-preco-lipo" alt="depois lipoaspiracao">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/antes-depois-lipoaspiracao" alt="como fica resultado da lipoaspiracao">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/antes-depois-lipo" alt="apos lipoaspiracao">
      </div></br>



    </div>
