    <div class="col-md-12" style="margin-left: 0px; text-align: center">
      <div href="#pablo" >
        <img  style="width: 100%" src="/assets/blefaroplastia/blefaroplastia">
        </div></br>

      <div href="#pablo" >
        <img style="width: 100%" src="/assets/blefaroplastia/preco-blefaroplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/blefaroplastia-preco">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/blefaroplastia-valor">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/valor-blefaroplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/antes-depois-blefaroplastia-palpebras">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/antes-depois-preco-blefaroplastia">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/antes-depois-cirurgia-palpebras">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/blefaroplastia-antes-depois-preco-cirurgia-palpebras">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/preco-cirurgia-plastica-palpebras">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/valor-cirurgia-plastica-palpebras">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/antes-depois-cirurgia-plastica-palpebras">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/antes-depois-blefaroplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/quanto-custa-cirurgia-plastica-palpebras">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/preco-blefaroplastia-antes-depois">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/cirurgia-plastica-blefaroplastia-palpebras">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/cirurgiao-plastico-blefaroplastia">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/plastica-blefaroplastia-palpebras">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/antes-depois-plastica-palpebras">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/cirurgia-plastica-olheira-antes-depois">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/preco-cirurgia-blefaroplastia">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/valor-cirurgia-plastica-palpebras-blefaroplastia">
      </div></br>
      
      <div href="#pablo">
        <img style="width: 100%" src="/assets/blefaroplastia/quanto-custa-blefaroplastia">
      </div></br>



    </div>
