    <div class="col-md-12" style="margin-left: 0px; text-align: center">
      <div href="#pablo" >
        <img  style="width: 100%" src="/assets/otoplastia/valor-otoplastia" alt="otoplastia">
        </div></br>

      <div href="#pablo" >
        <img style="width: 100%" src="/assets/otoplastia/quanto-custa-plastica-orelha-abano" alt="otoplastia antes e depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/quanto-custa-otoplastia" alt="antes e depois otoplastia">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/preco-otoplastia-plastica-orelha-abano" alt="preco otoplastia antes depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/preco-otoplastia" alt="antes e depois cirurgia plastica orelha otoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia-valor" alt="cirurgia plastica orelha antes e depois otoplastia">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia-preco" alt="cirurgia plastica orelha de abano">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia-plastica-orelha-abano-antes-depois" alt="cirurgia plastica orelha de abano antes e depois ">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia-plastica-orelha-abano" alt="antes e depois cirurgia plastica de orelha de abano ou otoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia-antes-depois" alt="como funciona cirurgia plastica otoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia" alt="fotos cirurgia plastica para corrigir orelha de abano">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/cirurgia-plastica-orelha-abano" alt="fotos e imagens resultados cirurgia otoplastia ">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/antes-depois-otoplastia-plastica-orelha-abano" alt="exemplos orelhas para cirurgia de correcao orelha de abano otoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/antes-depois-otoplastia" alt="valor otoplastia">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/antes-depois-cirurgia-plastica-orelha-abano" alt="quanto custa uma otoplastia cirurgia plastica de orelha de abano">
      </div></br>


      



    </div>
