    <div class="col-md-12" style="margin-left: 0px; text-align: center">
      <div href="#pablo" >
        <img  style="width: 100%" src="/assets/abdominoplastia/abdominoplastia" alt="abdominoplastia">
        </div></br>

      <div href="#pablo" >
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-2018-preco" alt="antes e depois abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-2019-preco" alt="abdominoplastia antes e depois">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-antes-depois-valor" alt="resultados abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-antes-e-depois" alt="fotos antes e depois abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-como-funciona" alt="o que é abdominoplastia">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-preco" alt="como fica abdominoplastia">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-r$" alt="preço abdominoplastia">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/abdominoplastia-valor" alt="fotos antes depois da cirurgia plástica de abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/antes-depois-abdominoplastia" alt="imagens e fotos de antes e depois e resultados de abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/antes-depois-abdominoplastia-hopistal" alt="veja como fica o antes e depois da cirurgia de abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/antes-depois-preco-abdominoplastia" alt="resultados da cirurgia plastica de abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/antes-e-depois-abdominoplastia" alt="fotos de resultados de antes e depois da cirurgia plastica de abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/cirurgia-abdominoplastia" alt="imagens abdominoplastia para reduzir gorduras">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/cirurgia-plastica-abdominoplastia" alt="quanto custa uma abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/cirurgia-plastica-reducao-medidas-abdominoplastia" alt="qual o preco da abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/cirurgiao-plastico-abdominoplastia" alt="cirurgia plastica de abdominoplastia fotos de antes e depois dos resultados">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/como-funciona-abdominoplastia" alt="fotos mulheres depois da abdominoplastia cirurgia plastica para retirada de gorduras">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/o-que-é-abdominoplastia" alt="veja fotos e imagens de antes e depois da cirurgia plastia de abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/preco-abdominoplastia" alt="o que é e como funciona a abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/preco-abdominoplastia-antes-depois" alt="fotos de cirurgiao plastico de abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/valor-abdominoplastia" alt="depois e antes dos resultados da plástica de abdominoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/R$-abdominoplastia" alt="imagens e fotos da plástica de abdominoplastia para a perda de gorduras">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/abdominoplastia/cirurgia-abdominoplastia" alt="como fica a barriga depois da cirurgia plastica de abdominoplastia"> 
      </div></br>

      



    </div>
