    <div class="col-md-12" style="margin-left: 0px; text-align: center">
      <div href="#pablo" >
        <img  style="width: 100%" src="/assets/otoplastia/valor_otoplastia">
        </div></br>

      <div href="#pablo" >
        <img style="width: 100%" src="/assets/otoplastia/quanto_custa_plastica_orelha_abano">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/quanto_custa_otoplastia">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/preco_otoplastia_plastica_orelha_abano">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/preco_otoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia_valor">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia_preco">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia_plastica_orelha_abano_antes_depois">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia_plastica_orelha_abano">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia_antes_depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/otoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/cirurgia_plastica_orelha_abano">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/antes_depois_otoplastia_plastica_orelha_abano">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/antes_depois_otoplastia">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/otoplastia/antes_depois_cirurgia_plastica_orelha_abano">
      </div></br>


      



    </div>
