    <div class="col-md-12" style="margin-left: 0px; text-align: center">
      <div href="#pablo" >
        <img  style="width: 100%" src="/assets/lipoaspiracao/valor-lipo">
        </div></br>

      <div href="#pablo" >
        <img style="width: 100%" src="/assets/lipoaspiracao/quanto-custa-cirurgia-lipoaspiracao">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/qual-valor-lipoaspiracao">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/qual-preco-lipoaspiracao">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/preco-lipoaspiracao-antes-depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/preco-lipo">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/preco-antes-depois-lipoaspiracao">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipoaspiracao-quanto-custa">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipoaspiracao-preco-antes-depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipoaspiracao-antes-depois-preco">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipoaspiracao-antes-depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipoaspiracao">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipo-preco-2018">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/lipo-antes-depois-preco">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/como-funciona-lipoaspiracao">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/cirurgia-plastico-lipo">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/cirurgia-plastica-preco-lipo">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/cirurgia-lipoaspiracao">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/cirurgia-lipo-valor">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/cirurgia-lipo-preco">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/antes-depois-preco-lipoaspiracao">
      </div></br>
      
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/antes-depois-preco-lipo">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/antes-depois-lipoaspiracao">
      </div></br>
      <div href="#pablo">
        <img style="width: 100%" src="/assets/lipoaspiracao/antes-depois-lipo">
      </div></br>



    </div>
