    <div class="col-md-12" style="margin-left: 0px; text-align: center">
      <div href="#pablo" >
        <img  style="width: 100%" src="/assets/ritidoplastia/valor-R$-lifting-facial-ritidoplastia">
        </div></br>

      <div href="#pablo" >
        <img style="width: 100%" src="/assets/ritidoplastia/valor-lifting-facial-ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/valor-lifting-facial">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/valor-cirurgia-face-lifting_facial_ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/R$-valor-lifting_facial_ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/R$-preco-lifting_facial_ritidoplastia">
      </div></br>



      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/quanto-custa-lifting-facial-ritidoplastia">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/quanto-custa-lifting-facial">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/qual-preco-lifting-facial-ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/preco-R$-lifting-facial-ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/preco-lifting-facial-ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/preco-lifting-facial">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/preco-lifting_facial_ritidoplastia-antes-depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/preco-cirurgia-face-lifting_facial_ritidoplastia">
      </div></br>


      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/lifting-facial-ritidoplastia-quanto-custa">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/lifting-facial-ritidoplastia-antes-depois">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/lifting_facial_ritidoplastia-depois-e-antes">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/fotos-antes-depois-lifting_facial_ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/depois-antes-lifting-facial-ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/como-funciona-lifting-facial-ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/cirurgiao-plastico-lifting_facial_ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/cirurgia-plastica-face-preco">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/antes-e-depois-lifting_facial_ritidoplastia">
      </div></br>

      <div href="#pablo">
        <img style="width: 100%" src="/assets/ritidoplastia/antes-depois-lifting-facial-ritidoplastia">
      </div></br>

      



    </div>
