
<p><%= @receiver_user.full_name %></p>

<p>Você tem um cliente cotando um CDB</p>

<h3>Nome do Cliente</h3>
<p><%= @senter_user.full_name %></p>

<h3>Mensagem</h3>
<p><%= @quotation.senter_message%></p>

