<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Detalhes da Cotação</h4>
</div>



<div class="col-md-12">
	<div class="card "> 
		<div class="card-header card-header-rose card-header-icon">

			<p class="card info-title">
				Nome da Instituição: <%= firm_name(@quotation) %>
			</p>

			<p class="card info-title">
				Cotação: <%= @quotation.quote %>
			</p>


			<p class="card description">
				Mensagem<br />
            	<%= @quotation.receiver_message %>
        	</p>
    	</div>
    </div>
</div>










