<h1>Quotations#show</h1>
<%= @quotation.senter_message %>
<%= link_to "enviar cotação", edit_quotation_path(quotation_id: @quotation, category_id: @quotation.category_id) %>
<p>Find me in app/views/quotations/show.html.erb</p>
