<p><%= @user.name %></p>

<p>Um cliente está interessado no seu produto</p>

<h3>Nome do Cliente</h3>
<p><%= @user.name %></p>

<h3>Mensagem</h3>
<p><%= @email_message.subject%></p>

<h3>Mensagem</h3>
<p><%= @email_message.text_message%></p>