<% if post %>

<div class="col-md-12">
  <div class="card ">




        <div class="col-md-12" style="margin-top: 30px">
          <div class="photo">
            
            <%= postable_photo(post.postable_type, post.postable_id) %>
            
            <%= postable_name(post.postable_type, post.postable_id)%>
          </div>
        </div>



    <div class="card-body ">
      <%=post.created_at %>
    </div>

    <div class="card-body ">
        <%= post.content.html_safe %>    
    </div>  

  </div>
</div> 

<% end %>






