<div class="col-md-12">
  <div class="card " style='background-color: #f2f2f2'>
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
        <i class="material-icons">mail_outline</i>
      </div>
      <h4 class="card-title">Atualizações</h4>
    </div>


    <%= render @posts %>

  </div>
</div>
