<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alteração de sua senha. Você pode alterar sua senha clicando no link abaixo. Você será direcionado para o nosso website..</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa solicitação, por favor ignore o email.</p>
<p>Sua senha não será alterada se você não acessar o link abaixo e criar uma nova senha.</p>

